.App.dark{
    background-color: #111;
    color: rgb(156,156,156);

    .navbar{
        background-color: #111;
        color: #999;
        border-color: #333;

        .search{
            border-color: gray;

            input{
                background-color: transparent;
                color: #999;
                border: none;
                &::placeholder{
                    color: #999;
                }
            }
        }

        .sidebar{
            background-color: #111;
            border-color: #333;

            .top{
                .logo{
                    color: #999;
                }
            }

            ul{
                li{
                    &:hover{
                        background-color: #333;
                    }

                    .icon{
                        color: #999;
                    }
                }
            }
        }

    }

    .home{
        background-color: #111;
        color: #999;

        .homeContainer{
            background-color: #111;
            color: #999;
        }
    }

    .list{
        background-color: #111;
        color: #999;

        .tableCell{
            background-color: #111;
            color: #999;

            .span{
                background-color: #333;

                &.active{
                    color: green;
                }

                &.pending{
                    color: goldenrod;
                }

                &.passive{
                    color: crimson;
                }
            }
        }
    }

    .single{
        background-color: #111;
        color: #999;
    }

    .product{
        background-color: #111;
        color: #999;

        .productList{
            background-color: #111;
            color: #999;

            .tableCell{
                background-color: #111;
                color: #999;
            }
        }
    }

    .new{
        background-color: #111;
        color: #999;

        .right{
            form{
                .formInput{
                    input{
                        background-color: #111;
                        color: #999;
                    }
                }
                
            }
        }
    }
    

    .datatable{
        background-color: #111;
        color: #999;
        .datagrid{
            background-color: #111;
            color: #999;


            .viewButton, .deleteButton{
                color: #999;
                border: 1px dotted rgba(156, 156, 156, 0.6);
                background-color: transparent;
            }


        }
    }


}